/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */

html {
  font-size: ($inuit-global-font-size / 16px) * 1em; /* [1] */
  line-height: $inuit-global-line-height / $inuit-global-font-size; /* [1] */
  overflow-y: scroll; /* [2] */
  min-height: 100%; /* [3] */
  font-family: $fontOne; /* [4] */
  min-width: 320px;
}

body {
  overflow-x: hidden;
}

p, a, li{
	font-weight: 300;
}

a {
	text-decoration: none;
}

main a {
  color: $colorZero;
}

main a:hover,
.c-footer a:hover {
  text-decoration: underline;
}



::-moz-selection { background: transparent; color: $colorFive }
::selection { background: transparent; color: $colorFive }

h5::-moz-selection { background: transparent; color: $colorZero }
h5::selection { background: transparent; color: $colorZero }

@media (min-width:320px) { 
  p, a, li{
    font-size: 16px;
  }
.js-menu-active {
    overflow-y: hidden;
}
  .c-content_first-column {
    margin-bottom: 96px;  
  }

}  

@media (max-width:400px) { 
h1,h2,h3,h4,h5,h6, a {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;  
}
}

@media (min-width:960px) { 
  .c-content_first-column {
    margin-bottom: 0;
  }
} 

@media (min-width:1024px) { 
  p, a, li{
    font-size: 17px;
  }
.js-menu-active {
    overflow-y: auto;
    position: fixed;
    width: 100%;
    top:0;
}

}  

@media (min-width:1280px) { 
  p, a, li{
    font-size: 18px;
  }
}  