.c-activities_single {
	@include mixingBottom();
	h3 {
		color: $colorFour;
	}
	.c-activities_single_div {
		margin-bottom: 48px;
	}
}
.c-c-block_info {
	@include mixingTopActivities();
	transition: all 0.3s linear;
}
.c-c-block_info h4:hover {
	cursor: pointer;
	box-shadow: 4px 4px 7px 0px rgba(190, 190, 190, 0.5);
}
.c-c-block_info_back {
	position: relative;
	max-width: 765px;
	margin-bottom: 80px;
	h4 {
	    margin-bottom: 0;
	    color: #FFF;
	    padding: 10px 0px;
	    padding-left: 88px;
	    position: relative;
	    background: $colorZero;
		&:before {
		    position: absolute;
		    content: "";
		    background: url(../images/icons/items-visuels.svg) -91px -154px no-repeat;
		    height: 27px;
		    width: 42px;
		    transform: rotate(180deg);
		    top: 20px;
		    left: 24px;	
		}	    
	}
}

// Media Query

@media (min-width:320px) { 
	.c-c-block_info_back {
		h4 {
		    padding: 10px 0px;
		    padding-left: 20px;
			&:before {
				display:none;
			}	    
		}	
	}
}	

@media (min-width:480px) { 
	.c-c-block_info_back {
		h4 {
		    padding: 10px 0px;
		    padding-left: 88px;
			&:before {
				display:block;
			}	    
		}	
	}
}	