.c-content {
	@include mixingBottom();
	@include ultype()
}

.c-content_img {
	position: relative;
	&:after {
		position: absolute;
		content: "";
		width: 90%;
		background: $colorFive;
	}
	img {
		width: 100%;
	}
}

@media (min-width:320px) { 
	.c-content_img {
		float: right;
		&:after {
			height: 16px;
			bottom: -8px;
			left: 0;
		}
	}
}	
@media (min-width:1280px) { 
	.c-content_img {
		&:after {
			height: 32px;
			bottom: -16px;
		}
	}
}	