.c-img-txt_flex {
    transition: all 0.15s linear;
    flex-direction: row-reverse;
	.c-img-txt_flex_item {
	    flex: 0 auto;
	    align-items: flex-start;
	    flex-direction: column;
	} 
	img {
		width: 100%;
	}
	.-content {
		padding-top: 68px;
		background: rgba(230,230,230,0.2);
		position: relative;
		padding-bottom: 72px;
		&:before,
		&:after {
			background: rgba(230,230,230,0.2);
			height: 100%;
			position: absolute;
			content: '';	
			top: 0;
			z-index: -1;									
		}
		&:before {
			width: 170px;
			left: -170px;

		}
		&:after {
			width: 50vw;
			right: -50vw;
		}				
	}
}	

.c-img-txt {
	@media (min-width:20.000em) { 
		margin-bottom: 80px;
	}
	@media (min-width:52.500em) { 
		margin-bottom: 84px;
	}	
	h2 {
		max-width: 600px;
		&:after {
			width:760px;
		}
	}
	p:last-child {
		margin-bottom: 0;
	}
}
@media (min-width:320px) { 
	.c-img-txt_flex,
	.c-img-txt_flex_item  {
	    display: block;
	} 

	.c-img-txt_flex .-content {
		padding-left: 0;
	}
}
@media (min-width:960px) { 
	.c-img-txt_flex {
	    display: flex;
	}  
	.c-img-txt_flex_item {
	    display: flex;
	}	

	.c-img-txt_flex .-content {
			padding-left: 52px;
	}
	.c-img-txt_flex	.-image {
		padding-right: 52px;
		padding-top: 42px;
		padding-bottom: 44px;
	}
}  