	$home-program-before-after-left-2: 12px; 
	$home-program-before-after-width-2: 64px; 	
	$home-program-before-after-left-1: 24px; 
	$home-program-before-after-width-1: 80px; 
	$home-program-before-after-left: 48px; 
	$home-program-before-after-width: 96px; 
	@mixin home-program-before-after() {
		
		@media (min-width:320px) { 
			left: $home-program-before-after-left-2;
			width: $home-program-before-after-width-2;
		}		
		@media (min-width:480px) { 
			left: $home-program-before-after-left-1;
			width: $home-program-before-after-width-1;
		}			
		@media (min-width:600px) { 
			left: $home-program-before-after-left;
			width: $home-program-before-after-width;
		}		
		@media (min-width:1024px) { 
			left: $home-program-before-after-left-2;
			width: $home-program-before-after-width-2;
		}
		@media (min-width:1280px) { 
			left: $home-program-before-after-left-1;
			width: $home-program-before-after-width-1;
		}		
		@media (min-width:1920px) { 
			left: $home-program-before-after-left;
			width: $home-program-before-after-width;
		}		
	}

	@mixin home-program-before-after_hover() {
		@media (min-width:320px) { 
			width: $home-program-before-after-width-2 * 1.5;
		}		
		@media (min-width:480px) { 
			width: $home-program-before-after-width-1 * 1.5;
		}			
		@media (min-width:600px) { 
			width: $home-program-before-after-width * 1.5;
		}		
		@media (min-width:1024px) { 
			width: $home-program-before-after-width-2 * 1.5;
		}
		@media (min-width:1280px) { 
			width: $home-program-before-after-width-1 * 1.5;
		}		
		@media (min-width:1920px) { 
			width: $home-program-before-after-width * 1.5;
		}		
	}


	$home-program-figcaption-padding-2: 56px 12px; 
	$home-program-figcaption-ml-2: 12px;
	$home-program-figcaption-mr-2: 12px;
	$home-program-figcaption-padding-1: 80px 24px; 
	$home-program-figcaption-ml-1: 24px;
	$home-program-figcaption-mr-1: 24px;
	$home-program-figcaption-padding: 102px 48px; 
	$home-program-figcaption-ml: 48px;
	$home-program-figcaption-mr: 48px;




	@mixin home-program-figcaption() {
		@media (min-width:320px) { 
			margin-left: $home-program-figcaption-ml-2;
			margin-right: $home-program-figcaption-mr-2;
		}		
		@media (min-width:480px) { 
			margin-left: $home-program-figcaption-ml-1;
			margin-right: $home-program-figcaption-mr-1;
		}			
		@media (min-width:600px) {
			margin-left: $home-program-figcaption-ml;
			margin-right: $home-program-figcaption-mr;			
		}		
		@media (min-width:1024px) { 
			margin-left: $home-program-figcaption-ml-2;
			margin-right: $home-program-figcaption-mr-2;
		}	
		@media (min-width:1280px) { 
			margin-left: $home-program-figcaption-ml-1;
			margin-right: $home-program-figcaption-mr-1;
		}				
		@media (min-width:1920px) { 
			margin-left: $home-program-figcaption-ml;
			margin-right: $home-program-figcaption-mr;
		}
	}	

	@mixin home-program-figcaption_link() {
		@media (min-width:320px) { 
			padding: $home-program-figcaption-padding-2;
		}		
		@media (min-width:480px) { 
			padding: $home-program-figcaption-padding-1;
		}			
		@media (min-width:600px) {
			padding: $home-program-figcaption-padding;
		}		
		@media (min-width:1024px) { 
			padding: $home-program-figcaption-padding-2;
		}	
		@media (min-width:1280px) { 
			padding: $home-program-figcaption-padding-1;
		}				
		@media (min-width:1920px) { 
			padding: $home-program-figcaption-padding;
		}
	}		



	$home-program-link-size-2: 20px; 
	$home-program-link-size-1: 24px; 
	$home-program-link-size: 28px; 
	@mixin home-program-link() {
		@media (min-width:320px) { 
			font-size: $home-program-link-size-2;
		}			
		@media (min-width:480px) { 
			font-size: $home-program-link-size-1;
		}		
		@media (min-width:600px) { 
			font-size: $home-program-link-size;
		}			
		@media (min-width:1024px) { 
			font-size: $home-program-link-size-2;
		}		
		@media (min-width:1280px) { 
			font-size: $home-program-link-size-1;
		}
		@media (min-width:1440px) { 
			font-size: $home-program-link-size;
		}	

	}

	.c-list-program {
		background:$colorSix;
		padding-top: 104px;
		@include mixingBottom();
	}

	.c-list-program_ul {
		li {
								margin-bottom: 104px;
			max-width: 568px;
			figure {
				margin-bottom: 0;
				figcaption {
					background: $colorSeven;
					@include home-program-figcaption();
					margin-top: -104px;

					position: relative;
					z-index: 1;
					h3 {
						font-family: $fontOne;
						@include home-program-link();
						line-height: 46px;
						line-height: 1.643em;
						letter-spacing: 1.91px;
						letter-spacing: 0.068em;
						text-decoration: none;
						color: $colorZero;
						text-transform: uppercase;
						font-weight: 400;
						hyphens: none;
						margin-bottom: 0;
					}
					a {
											@include home-program-figcaption_link();
											display: block;
					}
					a:hover {
						text-decoration: none;
					}					
					&:before {
						transition: all .25s linear;
						position: absolute;
						content: '';
						@include home-program-before-after();
						background: $colorZero;
						margin-top: 1.5px;
					}
					&:after {
						transition: all .35s linear;
						position: absolute;
						content: '';
						@include home-program-before-after();
						background: $colorZero;
						margin-top: 1.5px;
					}									
				}
			}
		&:hover {
				figcaption {
					&:before {
@include home-program-before-after_hover();
					}
					&:after {
@include home-program-before-after_hover();
					}						
				}
			}
		}

	}

	@media (min-width:320px) { 

.c-list-program_ul {
	text-align: left;
	li {
		text-align: left;
	}
}
.c-list-program_ul li figure figcaption:after {
							bottom: 40px;
							height: 2px;
		}	
.c-list-program_ul li figure figcaption:before {top: 40px;height: 2px;
}
}

	@media (min-width:480px) { 

.c-list-program_ul {
	text-align: center;
	li {
		text-align: left;
	}
}


.c-list-program_ul li figure figcaption:after {
							bottom: 51px;
							height: 3px;
		}	
.c-list-program_ul li figure figcaption:before {top: 51px;height: 3px;
}
}
	@media (min-width:1024px) { 

.c-list-program_ul {
	text-align: left;
	li {
		text-align: left;
	}
}
.c-list-program_ul li figure figcaption:after {
							bottom: 40px;
							height: 2px;
		}	
.c-list-program_ul li figure figcaption:before {top: 40px;height: 2px;
}
}
		@media (min-width:1280px) { 
.c-list-program_ul li figure figcaption:after {
							bottom: 51px;height: 3px;
		}	
.c-list-program_ul li figure figcaption:before {top: 51px;height: 3px;
}
	}