.c-jobs-available {
	@include mixingBottom();
	h3 {
		color: $colorFour;
		text-transform: uppercase;
		border-top: 1px solid $colorTen;
		margin: 6px 0;
		padding: 14px 0;
		padding-left: 24px;
	}
	h3:hover {
		cursor: pointer;
	}
	.c-jobs-available_clickable {
		position: relative;
	}	

	.c-jobs-available_arrow {
		position: absolute;
		right: 24px;
		height: 56px;
		width: 64px;
		background: url(../images/icons/items-visuels.svg) -79px -139px $colorZero;
		top: 14px;
		z-index: -1;
	}
	li:last-child .c-jobs-available_clickable {
		border-bottom: 1px solid $colorTen;
	}
}