.c-files_ul {
	margin-bottom: 0;
	li {
		line-height: 40px;
		a[href$=".pdf"] {
			position: relative;
			color: $colorFour;
			line-height: 1.5em;
			display: inline-block;
			&:before {
			    position: absolute;
			    content: "";
			    left: -32px;
			    width: 25px;
			    height: 31px;
			    background: url(../images/icons/items-visuels.svg) -37px -42px;
			    transform: translate(0,-50%);
			    top: 50%;
			}
			&:hover:before {
				background: url(../images/icons/items-visuels.svg) -37px -102px;
			}
		}		
	}
}

@media (min-width:20em) { 
	.c-files_wrap {
		padding: 48px 24px;
		background: $colorSix;
		@include mixingBottom();
	}
	.c-files_ul {
		li {
			a[href$=".pdf"] {
				border-left: 32px solid transparent;
				padding-right: 32px;
			}	
		}
	}	
}

@media (min-width:480px) { 
	.c-files_wrap {
		padding: 56px 40px;
		background: $colorSix;
		@include mixingBottom();
	}
	.c-files_ul {
		li {
			a[href$=".pdf"] {
				border-left: 40px solid transparent;
				padding-right: 40px;
			}	
		}
	}		
}

@media (min-width:720px) { 
	.c-files_wrap {
		padding: 64px 56px;
		background: $colorSix;
		@include mixingBottom();
	}
	.c-files_ul {
		li {
			a[href$=".pdf"] {
				border-left: 50px solid transparent;
				padding-right: 50px;
			}	
		}
	}		
}

@media (min-width:840px) { 
	.c-files_wrap {
		padding: 72px 72px;
		background: $colorSix;
		@include mixingBottom();
	}
	.c-files_ul {
		li {
			a[href$=".pdf"] {
				border-left: 60px solid transparent;
				padding-right: 60px;
			}	
		}
	}		
}

@media (min-width:960px) { 
	.c-files_wrap {
		padding: 80px 88px;
		background: $colorSix;
		@include mixingBottom();
	}
	.c-files_ul {
		li {
			a[href$=".pdf"] {
				border-left: 70px solid transparent;
				padding-right: 70px;
			}	
		}
	}		
}

@media (min-width:1280px) { 
	.c-files_wrap {
		padding: 64px 104px;
		background: $colorSix;
		@include mixingBottom();
	}
	.c-files_ul {
		li {
			a[href$=".pdf"] {
				border-left: 80px solid transparent;
				padding-right: 80px;
			}	
		}
	}		
}