.c-accordion {
	@include mixingBottom();
	.c-content,
	.c-custom-bullet-list {
		margin-bottom: 56px;
	}
	h3 {
		color: $colorFour;
		text-transform: uppercase;
		border-top: 1px solid $colorTen;
		margin:0;
		padding: 14px 0;
	}
	h3:hover {
		cursor: pointer;
	}
	.c-accordion_main-ul {
		list-style-type: none;
		margin-left: 0;
	}
}

.c-custom-bullet-list ul {
	list-style-type: none;
	margin-left: 0;
	li {
		position: relative;
	}
 	li:first-letter { 
    	font-size: 26px;
    	line-height: 36px;
    	letter-spacing: 0.6px;
    	display: block;
    	color: $colorZero;
	}
}



.c-accordion_clickable {
	position: relative;
}




@media (min-width:20em) { 
	.c-accordion_status {
		position:relative;
		width:20px; height:20px;
		position: absolute;
		right: 12px;
	    top: calc(50% - 1px);
		&:before,
		&:after {
	 		-webkit-transition: all 0.3s ease; 
	 		-moz-transition: all 0.3s ease; 
	 		-ms-transition: all 0.3s ease; 
	 		-o-transition: all 0.3s ease; 
	  		transition: all 0.3s ease;  
		}
		&:before {
			content:"";
			position:absolute;
			width:20px;
			height:3px;
			background: $colorFive;
			display:inline-block;
		}
		&:after {
		    content: "";
		    position: absolute;
		    margin-top: -9px;
		    margin-left: 9px;
		    width: 3px;
		    height: 20px;
		    background: $colorFive;
		    display: inline-block;
		}

	}
.-js-accordion-active .c-accordion_status:after{
	margin-top:0px;
	width:3px;
	height:3px;
}	
	.c-accordion h3 {
		padding-right: 44px;
		padding-left: 12px;
	}
	.c-accordion_hide {
		display: none;
		padding-top: 40px;
		padding-left: 24px;
	}

}

@media (min-width:720px) { 
	.c-accordion_status {
		position:relative;
		width:28px; height:28px;
		position: absolute;
		right: 24px;
	    top: calc(50% - 1px);
		&:before,
		&:after {
	 		-webkit-transition: all 0.3s ease; 
	 		-moz-transition: all 0.3s ease; 
	 		-ms-transition: all 0.3s ease; 
	 		-o-transition: all 0.3s ease; 
	  		transition: all 0.3s ease;  
		}
		&:before {
			content:"";
			position:absolute;
			width:28px;
			height:4px;
			background: $colorFive;
			display:inline-block;
		}
		&:after {
		    content: "";
		    position: absolute;
		    margin-top: -12px;
		    margin-left: 12px;
		    width: 4px;
		    height: 28px;
		    background: $colorFive;
		    display: inline-block;
		}

	}
	.-js-accordion-active .c-accordion_status:after{
		margin-top:0px;
		width:4px;
		height:4px;
	}	

	.c-accordion h3 {
		padding-right: 76px;
		padding-left: 24px;
	}
	.c-accordion_hide {
		display: none;
		padding-top: 40px;
		padding-left: 48px;
	}
}